.button {
    width: 200px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    /*text-transform: uppercase;*/
    margin: 10px 0;
    cursor: pointer;
}

button {
    box-sizing: border-box;
}

.default {
    background-color: white;
}

.primary {
    background-color: aqua;
}

.danger {
    background-color: red;
}

.filter-active {
    background-color: blue;
}

.button img {
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
}

.delete {
    border: none;
    width: auto;
    height: 10px;
    color: red;
    background: none;
    opacity: 0;
    z-index: -1;
    line-height: 0;
}

.todoList-task:hover .delete {
    opacity: 1;
    z-index: 1;
}

.small {
    width: 70px;
    height: 22px;
}